<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" lang="en">
    <title>Quick Quiz</title>
</head>
<body>

    <p>The node at the top of a heap data structure (with no parents) is called</p>
    <form action="/result" method="post">
        <input type="radio" name="answer1" id="top_node" value="Top Node">
        <label for="top_node">Top Node</label><br>
        <input type="radio" name="answer1" id="max_node" value="Max Node">
        <label for="max_node">Max Node</label><br>
        <input type="radio" name="answer1" id="min_node" value="Min Node">
        <label for="min_node">Min Node</label><br>
        <input type="radio" name="answer1" id="root_node" value="root-node">
        <label for="root_node">Root Node</label><br>
        <input type="submit" name="submt-butn" value="Submit"><br>
    </form>

    {{if .}} 
        {{$reply := ""}}
        {{$v := index . "answer1"}}
        {{range $v}}
                {{$reply = . | a1}}
                <p>{{$reply}}</p>
        {{end}}
    {{end}}

</body>
</html>